venv/
ENV/
env/
comfi_env/
.venv/
.direnv

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
*.egg

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

data/
COMFI/
downloads
